    @import url('https://fonts.googleapis.com/css2?family=Poppins');
    @import url('https://fonts.googleapis.com/css2?family=Quicksand');
    @import url('https://fonts.googleapis.com/css2?family=Montserrat');
    @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@900&display=swap');

    * {
      box-sizing:border-box;
      margin:0;
      padding:0;
    }

    .underline {
      background:Darkviolet;
      width:70px;
      height:5px;
    }

    .bg-slate {
      background:#483D8B;
    }

    .bg-lavender {
      background-color:Lavender;
    }


    .hero-section {
      background:url('./components/Images/wave-bg.svg');
      background-size:contain;
      background-position: top;
      width:100vw;
      height:100vh;
      background-repeat:no-repeat;
      object-fit:cover;
    }

    @media screen and (max-width:500px) {
    
      .hero-section {
        background-size:cover;
        background-position:contain;
        height:50vh;
        width:100%;
        overflow-x:hidden;
      }
      .svg {
        width:200px;
        margin:0 auto;
        display:block;
        padding:0;
      }

      .wrapper {
        padding:0 40px;
      }

      #about , #service, #portfolio , #contact {
        text-align:center;
      }

      .underline {
        margin:0 auto;
        display:block;
      }
      

    }

    .down-arrow {
      animation:topToBottom .5s linear infinite alternate;
    }

    .text-cobalt {
      color:#651FFF;
    }

    .icon {
      opacity:.7s
    }

    .icon:hover {
      opacity: 1;
      cursor: pointer;
    }

    .icon1 {
      font-size:24px;
      color:indigo;
     
    }
     .icon1:hover {
           cursor: pointer;
    }


    @keyframes topToBottom {
      from {
        transform:translateY(-20px);
      }
      to {
        transform:translateY(0px);
      }
    }

